@page
@model VinderenApi.Pages.MVC.TaskIActionResultModel
@{
	<h3>Task IActionResult</h3>
	<pre>
	&quot;Task&lt;IActionResult&gt;&quot;: This indicates that the method returns a Task representing an asynchronous operation 
	that produces an IActionResult as a result. IActionResult is an interface that represents an HTTP response.
	Or, we can say that Task is a return type that represents an asynchronous operation returning an IActionResult.
	</pre>
}
