@page
@model VinderenApi.Pages.DocumentationModel

@{
	<h1>Documentation and Notes</h1>

	<h2>Table of Content</h2>
	<h3>Authentication</h3>
	<ul>
		<li><a href="/Authentication/AddAuthentication">Use of AddAuthentication()</a></li>
		<li><a href="/Authentication/JWTIssuerAndAudience">JWT - Issuer and Audience</a></li>
		<li><a href="/Authentication/JWTandAuthentication">Implementation of JWT and Authentication</a></li>
	</ul>
	<h3>MVC related</h3>
	<ul>
		<li><a href="/MVC/MVCattribute">MVC Attribute [FromBody] and use of DTO</a></li>
		<li><a href="/MVC/TaskIActionResult">Task IActionResult</a></li>
	</ul>
	
}
