@page
@model VinderenApi.Pages.DocumentationModel

@{
	<h1>Documentation and Notes</h1>

	<h2>Table of Content</h2>
	<h3>Authentication</h3>
	<ul>
		<li><a href="/Authentication/AddAuthentication">Use of AddAuthentication()</a></li>
		<li><a href="/Authentication/JWTIssuerAndAudience">JWT - Issuer and Audience</a></li>
		<li><a href="/Authentication/JWTandAuthentication">Implementation of JWT and Authentication</a></li>
		<li><a href="/Authentication/TokensAndCookies">Tokens and Cookies</a></li>
		<li><a href="/Authentication/JwtRegisteredClaimNames">JwtRegisteredClaimNames</a></li>
		<li><a href="/Authentication/ImplementationOfIdentityCore">Implementation of Identity Core</a></li>
		<li><a href="/Authentication/TechnicalOverviewOfJWTusage">Technical Overview of the JWT Usage</a></li>
		<li><a href="/Authentication/CryptoTermDifferences">Crypto Term Differences</a></li>
	</ul>
	<h3>MVC related</h3>
	<ul>
		<li><a href="/MVC/MVCattribute">MVC Attribute [FromBody] and use of DTO</a></li>
		<li><a href="/MVC/TaskIActionResult">Task IActionResult</a></li>
	</ul>
	<h3>Misc</h3>
	<ul>
		<li><a href="/Misc/HttpResponseCode">Http Response Code</a></li>
	</ul>
	
}
